*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 98vh;
}

#container{
    margin: 0 20px;
    height: 100%;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0px; */
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

#menu-list{
    display: flex;
    gap: 20px;
}

#middle{
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}

#add-product{
    padding: 10px;
    border: none;
    outline: none;
    background-color: skyblue;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px #9e9d9d;
    cursor: pointer;
}

#products{
    height: 70%;
    overflow: auto;
}

#product-table-header{
    background-color: skyblue;
}

table{
    text-align: center;
    border: 1px solid #e3e3e3;
}

thead{
    color: white;
}

tr{
    border-bottom: 1px solid grey;
}

td{
    padding: 10px 0;
}

#product-table-header th{
    width: 16vw;
    padding: 10px;
}

.update-button{
    padding: 5px;
    border: none;
    background-color: #4444de;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

.delete-button{
    padding: 5px;
    border: none;
    background-color: #b65252;
    color: white;
    border-radius: 5px;
}

tr:nth-child(2n+1){
    background-color: #e3e3e3;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: #0000009e;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#add-product-modal{
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px #ededed;
    padding: 20px;
}

#add-product-modal-header{
    display: flex;
    justify-content: space-between;
}

#close-modal-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#product-form{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-form-container{
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.add-product-input{
    padding: 10px;
    outline: none;
    /* border: 1px solid grey; */
    border: none;
    width: 80%;
    box-shadow: 1px 1px 8px 0px #b4b3b3;
    border-radius: 5px;
}

.add-product-input:focus{
    border: 1px solid #4444de;
}

#add-product-submit-button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #4444de;
    color: white;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px #b4b3b3;
    border-radius: 5px;
    width: 30%;
}

#add-product-submit-button:active{
    background-color: #2f2fde;
}

#button-container{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}